<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <style>
        /* La imagen usa una fuente serif para el H1, que es el default */
        h1 {
            font-family: serif;
        }
        body {
            font-family: sans-serif;
            width: 80%;
            margin: 2em auto; /* Un poco de margen como en la imagen */
        }
        nav a {
            display: block; /* Hace que cada enlace ocupe su propia línea */
            margin-bottom: 5px; /* Pequeño espacio entre enlaces */
        }
    </style>
</head>
<body>

    <h1>Inicio</h1>

    <nav>
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'ultima_temporada' %}">Última temporada</a>
        <a href="{% url 'equipos' %}">Equipos</a>
        <a href="{% url 'estadios_mayores' %}">Cinco estadios con más aforo</a>
        <a href="{% url 'cargar' %}">Cargar <strong>AVISO: Se borrarán todos los datos</strong></a>
    </nav>

	<h2>{{equipo.nombre}}</h2>

    {% block contenido %}
        <dd>
            <h2>Fundación</h2>
            {{equipo.anyo_fundacion}}
        </dd>
        <dd>
            <h2>Estadio</h2>
            {{equipo.estadio}}
        </dd>
        <dd>
            <h2>Aforo</h2>
            {{equipo.aforo}}
        </dd>
        <dd>
            <h2>Dirección</h2>
            {{equipo.direccion}}
        </dd>
    {% endblock %}

</body>
</html>