<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <style>
        /* La imagen usa una fuente serif para el H1, que es el default */
        h1 {
            font-family: serif;
        }
        body {
            font-family: sans-serif;
            width: 80%;
            margin: 2em auto; /* Un poco de margen como en la imagen */
        }
        nav a {
            display: block; /* Hace que cada enlace ocupe su propia línea */
            margin-bottom: 5px; /* Pequeño espacio entre enlaces */
        }
    </style>
</head>
<body>

    <h1>Inicio</h1>

    <nav>
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'ultima_temporada' %}">Última temporada</a>
        <a href="{% url 'equipos' %}">Equipos</a>
        <a href="{% url 'estadios_mayores' %}">Cinco estadios con más aforo</a>
        <a href="{% url 'cargar' %}">Cargar <strong>AVISO: Se borrarán todos los datos</strong></a>
    </nav>

	<h2>Partidos de la temporada {{anyo}}-{{anyo|add:"1"}}</h2>

	{% block contenido %}
			{% regroup partidos by jornada as grouped %}
	    	{% for group in grouped %}
		    	<h3>Jornada {{group.grouper.numero}} &nbsp &nbsp {{group.grouper.fecha}}</h3>
		    		{% for row in group.list %}
			    		<dd>{{row.equipo_local.nombre}} {{row.goles_local}} - {{row.goles_visitante}} {{row.equipo_visitante.nombre}} </dd>	   
					{% endfor %}
	    	{% endfor %}
	{% endblock %}

</body>
</html>